{% extends "@FOSUser/layout.html.twig" %}


{% block fos_user_content %}
    {% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}

        {% block title %}Mon profil{% endblock %}

            
{% block body %}

    <div class="container">
        <div class="row">
            <form  class="col s8 offset-s2 talk-bubble tri-right round btm-left talktext" id='profilebubble'>
                <div class="row">
                    <div class="box" align="center">
                        <img id="avatar" src="{{ asset('img/deer2fw-1.png') }}/" alt="Un petit soucis mais on sait que t'as la Wild Attitude" />
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4 offset-s1">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="lastname" type="text" class="validate" placeholder="Nom">
                    </div>

                    <div class="input-field col s4 offset-s1">
                        <input id="firstname" type="text" class="validate" placeholder="Prénom">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s9 offset-s1">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="text" class="validate" placeholder="Email">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s9 offset-s1">
                        <i class="material-icons prefix">phone</i>
                        <input id="telephone" type="tel" class="validate" placeholder="Téléphone (optionnel)">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s9 offset-s1">
                        <i class="material-icons prefix">star</i>
                        <input id="interests" type="text" class="validate" placeholder="Centres d'intérêt"></input>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s9 offset-s1">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="description" class="materialize-textarea" placeholder="Présente toi auprès des Wilders !"></textarea>
                    </div>
                </div>

                <div class="row buttonrow">
                    <a class="btn waves-effect waves-light col s6 offset-s3" type="submit"  href="{{path('fos_user_profile_edit')}}">
                        Modifier
                        <i class="material-icons right">input</i>
                    </a>
                </div> 
            </form>
        </div>
    </div>


{% endblock %}