.titre
{
    font-size: 20px;
    font-weight: bold;
    width: 100% !important;

    padding: 3px;
    margin: 5px 0 5px 0px !important;

    border-bottom: solid 1px #f9a02e;
    border-radius: 10px 10px 0 0;
}

.textField
{
    height: 160px;
    width: 100% !important;

    word-wrap: break-word;

    border-radius: 0 0 10px 10px;

    margin-left: 0 !important;
}

.zone
{
    display: inline;

    width: 25%;
}


.legende
{
    font-size: 15px;

    margin-left: 50px;

    color: red;
}

.BulleQuestion
{
    width: 80%;
    margin-right: 100px;
    margin-left: 100px;

    border-radius: 20px;

    padding: 70px 0 70px 0;
    border-bottom: 1px solid #b9184d;
    border-top: 1px solid #b9184d;
}

#littlebubble
{
    background-color: rgba(128, 203, 296, 0.4);
    border-radius: 20px 20px 20px 0;
}

.BtnAction
{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

textarea
{
    height: 250px;
    margin-top: 10px;
    /*border: solid 1px;
    border-radius: 10px;*/
}


h2
{
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: -25px;
}
.fa-arrow-left
{
    margin-left: 40px;
    margin-bottom: 20px;
}

#questavatar 
{
    text-align: center;
    margin: 35px -60px 25px 15px;

}

#questavatar img
{
    border: 4px outset #26a69a;
}
#coinbulle
{
    width: 20px;
    height: 20px;
    float: right;
    opacity: 0.4;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

}
#coin
{
    margin-top: 181px;
    padding: 0;
}
#infoquest
{
    margin-top: -65px;
    margin-left: -50px;
    font-style: italic; 
}

#showbtn a{
    background-color: #f9a02e;
    border-radius: 20px;
    font-style: normal;

}
#showbtn a:hover{
    background-color: #26a69a;
    font-style: normal;
}

#bottomquest
{
    margin-top: 50px;
    margin-left: 50px;
}

#backtoquest a{
    background-color: #f9a02e;
    border-radius: 20px;
    font-style: normal;

}
#backtoquest a:hover{
    background-color: #26a69a;
    font-style: normal;
}

#answerbtn a{
    background-color: #f9a02e;
    border-radius: 20px;
    font-style: normal;

}
#answerbtn a:hover{
    background-color: #26a69a;
    font-style: normal;
}