::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

#editrouting {
    display: inline;
}

#profilebubble {
    color: #f9a02e;
    padding: 10px;
    background-color: rgba( 255, 222, 165, 0.6);
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 80%;
    min-width: 90%;
}

.wildbtn {
    border-radius: 20px;
}

label {
    color: #f9a02e;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}

select {
    color: #f9a02e;
    background-color: rgba( 255, 222, 165, 0.6);
    display: none;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.row {
    margin: auto;
}

.buttonrow {
    padding: 3px;
    margin-top:10px;
}

#avatar {
    height: 100px;
    width: 100px;
    justify-content: left;
    display: none;
}

#avatarShow {
    height: 100px;
    width: 100px;
    justify-content: left;

}


.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 80%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-1+label {
    color: #f1e5e6;
    background-color: #2BBBAD;
}

.inputfile-1:focus+label,
.inputfile-1.has-focus+label,
.inputfile-1+label:hover {
    background-color: rgba( 255, 222, 165, 0.6);
}

#answer {
    display: none;
    border: none !important;
}


/* CSS talk bubble */

.talk-bubble {
    margin: 40px;
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
}

.round {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.showinfo{
    text-align: center;
}

.rowShow{
    margin-top:20px;
    margin-bottom:20px;

}

.tri-right.btm-left:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 0px;
    top: -20px;
    bottom: auto;
    border: 22px solid;
    transform: rotate(180deg);
    border-color: transparent transparent transparent rgba( 255, 222, 165, 0.6);
}


/* talk bubble contents */

.talktext {
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

.talktext p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

#file-1 {
    padding-top: 10px;
    border-radius: 20px;
}

#wilder {
    text-align: center;
}