{% extends '::homeBase.html.twig' %}

{% block body %}

<img id ="banniere" src="img/infographie_big.jpg" alt="">

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Popularité</a></li>
  <li><a href="#!">Recent</a></li>
  <li class="divider"></li>
</ul>

<nav id = "nav2">
    <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
            <li id="searchbar">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required >
                        <label class="label-icon" for="search">
                            <img class="iconsearch" src="img/icon_6.svg" alt="">
                            <i class="material-icons">Rechercher</i>
                        </label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
           </li>
           <li id="questionbar">
                <form>
                    <div class="input-field">
                        <input id="quest" type="search" required>
                        <label class="label-icon" for="search">
                            <img class="iconsearch" src="img/icon_6copy.svg" alt="">
                            <i class="material-icons">Pose ta question</i>
                        </label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </li>

            <!-- Dropdown Trigger -->
            <li id="drop">
                <a class="dropdown-button" href="#!" data-activates="dropdown1">
                    Trier par
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- Modal Structure --> 
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>CONNECTION</h5>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Mot de passe</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="m1footer" class="modal-footer">
        <a id="cobtn" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Me connecter</a>
    </div>
</div>

<!-- Modal Structure --> 
<div id="modal2" class="modal">
    <div class="modal-content">
        <h5>INSCRIPTION</h5>
        <div class="row">
            <form name="fos_user_registration_form" method="post" action="/register/" class="fos_user_registration_register col s12">
                <div id="fos_user_registration_form">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}" type="text" class="validate">
                            <label for="fos_user_registration_form_username" class="required">Pseudo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="fos_user_registration_form_email" type="email" name "fos_user_registration_form[email]" required="required" class="validate">
                             <label for="fos_user_registration_form_email" class="required">Email</label>
                        </div>
                    </div>
                    <div id="firstrow" class="row">
                        <div class="input-field col s6">
                            <input id="fos_user_registration_form_plainPassword_first" type="password" name="fos_user_registration_form[plainPassword][first]" required="required" class="validate">
                            <label for="fos_user_registration_form_plainPassword_first" class="required">Mot de passe</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="fos_user_registration_form_plainPassword_second" type="password" name="fos_user_registration_form[plainPassword][second]" required="required" class="validate">
                            <label for="fos_user_registration_form_plainPassword_second" class="required">Confirmation Mot de passe</label>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="JDNbWyKIQd_2ohYJ4DhjGvkV1gmEvO5VLpSmpTTfTJ4">

                <div>
                        <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
    <div id="m2footer" class="modal-footer">
        <a id="inscbtn" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">M'inscrire</a>
    </div>
</div>

 <div id="test"></div> 

    <div id="pages">
      <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
{% endblock %}
